{% extends "base_generic.html" %}

{% block content %}
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% else %}

    <div class="w3-container">
      <h1>{{ place.name }}</h1>
      <h3>{{ place.street_address }}</h3>
      <h3>{{ place.suburb }} {{ place.state }}, {{ place.postcode }}</h3>
    </div>

    {% block review %}
    <div>
      <a href="{% url 'places:review' place.id %}" style="text-decoration:none;">
      <div class="w3-panel w3-gray">
        <p>Want to leave a review?</p>
      </div>
      </a>
    <div>
    {% endblock review %}


    {% endif %}

{% endblock content %}
