{% extends "base_generic.html" %}

{% block content %}
  {% if top_places_list %}
  <div class="w3-container">
    {% for place in top_places_list %}
      <div class="w3-card w3-section">
        <a href="{% url 'places:detail' place.id %}" style="text-decoration:none;">
        <div class="w3-container">
          <h1 class="name-text">{{place.name}}</h1>
          <p class="suburb-text">{{place.suburb}}</p>
        </div>
        </a>
      </div>

    {% endfor %}
  </div>
  {% else %}
  <div class="no-content">
    <p>No top places to display</p>
  </div>
  {% endif %}
{% endblock content %}
